<div class="container">
  PROFESSION
  <div>
    <button type="button"style="margin: 5px" class="btn btn-outline-primary" (click)="professionGet()">Find</button>
    <button type="button" style="margint: 5px" class="btn btn-outline-primary"(click)="testAll()">Show All</button>
    <button type="button" style="margin: 5px" class="btn btn-outline-danger" (click)="professionDelete()">Delete</button>

    <div>
      <label>Profession Type:</label>
      <input type="text" [(ngModel)]="profession.professionType"/>
      <!--<input type="text" [(ngModel)]="profession.starIds"/>-->
      <!--<div><span>star</span>
        <p *ngFor="let starIds of profession">{{ profession.starIds }}</p>
      </div>-->
      <li *ngFor="let profession of profession.starIds">
        {{ profession }}
      </li> <br>
     <!-- <ul>
        <li *ngfor="let starIds of profession">{{ starIds.starIds }}</li>
      </ul>-->

    </div>
    <button type="button" style="margin: 5px" class="btn btn-outline-success"(click)="professionPost()">Create</button>
    <button type="button" style="margin: 5px" class="btn btn-outline-primary "(click)="professionPut()">Update</button>
    <ul>
      <li *ngFor="let list of professionList">
        <div> Name: {{list.professionType}}</div>
        <div> starIds: {{list.starIds}}</div>
        <!--<div>Social Networking Site: {{list.socialNetworkingSite}}</div>
        <div> starID: {{list.starID}}</div>-->
      </li>
    </ul>
  </div>
</div>
