<ul class="nav nav-tabs nav-fill mt-5">

    <li class="nav-item">
        <a routerLink="/movie" class="nav-link">Movie</a>
    </li>
    <li class="nav-item">
        <a routerLink="/star" class="nav-link">Star</a>
    </li>
    <li class="nav-item">
        <a routerLink="/country" class="nav-link">Country</a>
    </li>
    <li class="nav-item">
        <a routerLink="/profession" class="nav-link">Profession</a>
    </li>
    <li class="nav-item">
        <a routerLink="/links" class="nav-link">Links</a>
    </li>
  <li class="nav-item">
    <a routerLink="/users" class="nav-link">Users</a>
  </li>
  <li class="nav-item">
        <a routerLink="/poster" class="nav-link">Poster</a>
      </li>

  <li class="nav-item">
    <a routerLink="/moviemark" class="nav-link">MovieMark</a>
  </li>
  <li class="nav-item">
    <a routerLink="/genre" class="nav-link"> Genres </a>
  </li>
  <li class="nav-item">
    <a routerLink="/user-review" class="nav-link"> User Reviews </a>
  </li>



</ul>
<div class="border border-top-0 rounded p-5">
  <router-outlet></router-outlet>
</div>
